<!DOCTYPE html>
<html>
<head>
    <title>Pile of Stones - Judge</title>
</head>
<body>
    <p>Harshitha gokanakonda</p>
    <p>ID:1001949798</p>
    <h1>Pile of Stones - Judge</h1>
    <form method="POST">
        <label for="pile1">Number of stones for pile 1:</label>
<input type="number" name="pile1" id="pile1" min="0" required><br>

<label for="pile2">Number of stones for pile 2:</label>
<input type="number" name="pile2" id="pile2" min="0" required><br>

<label for="pile3">Number of stones for pile 3:</label>
<input type="number" name="pile3" id="pile3" min="0" required><br>

       

        <label for="min_stones">Minimum number of stones that can be picked:</label>
        <input type="number" name="min_stones" id="min_stones" min="1" required><br>

        <label for="max_stones">Maximum number of stones that can be picked:</label>
        <input type="number" name="max_stones" id="max_stones" min="1" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
